<h3>Login</h3>

<form {{action 'login' on='submit'}}>
  <p>{{input value=username placeholder='Twitter Handle'}}</p>
  <p>{{input value=password type='password'}}</p>
  <p><button type="submit">Login</button></p>
</form>
