<h3>{{#link-to 'questions.new'}}Ask a Question{{/link-to}}</h3>

<ul>
  {{#each question in this}}
    <li>{{#link-to 'question' question}}{{question.title}}{{/link-to}}</li>
  {{else}}
    <li>No Questions found</li>
  {{/each}}
</ul>
